body {
  background-color: rgb(182, 201, 252)
}
h1{
  color:rgba(5, 3, 29, 0.795);
  font-size:large;
}
h2{
  color:rgba(5, 3, 29, 0.795);
  font-size:large;
}
div{
  border: 2px solid black;
  padding: 20px 30px 20px 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
button:hover {
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  font-family: sans-serif; 
  font-size: 16px;
  color: #ffffff;
  background-color: #6077da; 
  cursor: pointer; 

    /* Smooth Transition */
  transition: all 0.3s ease;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-left: 10px;
}